{% extends 'base.html.twig' %}

{% block title %}Connexion | Ohmyblog{% endblock %}

{% block body %}

<form class="loginForm" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="loginTitle">Connexion</h1>

    <div class="input">
    <label class="emailLabel" for="inputEmail">Email :</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="loginEmail" autocomplete="email" required autofocus>
    </div>

    <div class="input">
    <label class="MDPLabel" for="inputPassword">Mot de passe :</label>
    <input type="password" name="password" id="inputPassword" class="loginMDP" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
<div class="buttonLink">
    <button class="button" type="submit">
        Connexion
    </button>
    <a class="link" href="{{ path('app_register')}}">J'ai déjà un compte</a>
    </div>
</form>

{% endblock %}
