@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body{
    display: flex;
    flex-direction: row;
}

/**
* Header CSS
**/

.header{
    border-radius: 20px;
    background: linear-gradient(173deg, #FFAD96 0%, #FF6E67 100%);
    box-shadow: 8px 8px 16px 0px rgba(255, 255, 255, 0.25) inset, 3px 3px 11px 0px rgba(255, 110, 103, 0.25);
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    padding: 2% 30px;
    height: 86%;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    width: 15%;
    height: 88vh;
}

.headerTitle{
    font-family: "Shrikhand", serif;
    color: white;
    font-size: 42px;
    text-decoration: none;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0;
}

.categorie{
    list-style-type: none;
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    cursor: pointer; 
}

/**
* HomePage CSS
**/

