<div class="header">
    <h1><a class="headerTitle" href="{{ path('app_home')}}">Ohmyfood</a></h1>
    <ul class="categories">
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
    </ul>
</div>