<div class="header">
    <h1 class="headerTitle">Ohmyfood</h1>
    <ul class="categories">
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
        <li class="categorie">Catégorie</li>
    </ul>
</div>